.home-homeheader{
    display: flex;
    height: px2rem(100);
    position: fixed;
    top:0;
    z-index: 500;
    .subm{
        margin-right: px2rem(50);
        font-size: px2rem(35);
    }
    .home-text{
        display: inline-block;
        margin-left: px2rem(50);
        line-height: px2rem(100);
        font-weight: 700;
    }
   
}
.bigbear-menuitem{
    text-align: center;
    font-size: px2rem(35);
    padding:px2rem(10) px2rem(15)!important;
}
.bigbear-carousel-wrapper{
    position: relative;
    box-sizing: border-box;
}
.bigbear-carousel-ul{
    height:1rem;
}
.home-container{
    width: 100%;
    overflow: auto;
    height: 100%;
}

footer{
    position: fixed;
    bottom: 0;
    height: px2rem(120);
    display: flex;
    justify-content: center;
    align-items: center;
    .bigbear-grid-row{
        width: 100%;
    }
    .navlink{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        color:#595959;
        font-size: px2rem(35);
        &.active{
            color:#0085f3;
        }
    }
    .linkbtn{
        width: px2rem(80);
        height: px2rem(80);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        a{
            padding:px2rem(20);
        }
    }
}